.subBut {
    font-family: "Poppins", sans-serif;
    float:right;
    background-color:#F5F5F5;
    border:0px;
    margin-right: 100px;
    width: 120px;
    height: 30px;
    border-radius: 30px;
}
.subHead:hover {
background-color:#e0dede;
box-shadow: 10;
}

.header {
    background-color: wheat;
    margin: 0;
    padding: 0;
    height: 60px;
    width:100%;
    border-top: none;
    
}
